* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

/* Base */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #444;
    background-color: white;
    font-weight: 400;
    color: #555252;
}

.container {
    padding: 0 70px;
    max-width: 1280px;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

.header-top {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #d5d4d4;
}

.header-top__left .contact{
    display: flex;
}
.contact li{
    padding: 0 10px;
    line-height: 50px;
    display: inline-block;
    margin-top: -3px;
    cursor: pointer;
    letter-spacing: 0.8px;
}

.header-top__right{
    line-height: 50px;
}
.header-top__right span{
    color: red;
}

.header-bottom {
    height: 90px;
    background-color: white;
}

.header-bottom__logo img{
    width: 100px;
    vertical-align: middle;
    margin-top: 34px;
}

.menu li{
    line-height: 90px;
    padding: 0 15px;
    font-weight: 500;
}

menu li a:hover{
    color: #6F42C2;
}

.list-action .item-action {
    line-height: 90px;
    margin-left: 14px;
}

/* main */
.slideshow {
    max-width: 1280px;
    margin: 0 auto;
}
.container-slide{
    position: relative;
}
.container-slide img{
    margin-left: -250px;
}
.container-slide .slideshow-btn-action{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.slideshow-btn-action button{
   border: none;
   cursor: pointer; 
   font-size: 24px;
   color: #555252;
}

.slideshow-btn-action button:hover{
    color: #6F42C2;
}
.container-slide .slideshow-btn-action .btn-prev {
    position: absolute;
    left: 30px;
}
.container-slide .slideshow-btn-action .btn-next {
    position: absolute;
    right: 30px;
}

.slideshow-content {
    position: absolute;
    top: 25%;
    right: 15%;
    text-align: center;
}

.slideshow-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    color: #000;
}
.slideshow-content .slideshow-title::before, .slideshow-title::after{
    position: absolute;
    width: 80px;
    height: 2px;
    content: "";
    background-color: #000;
}
.slideshow-content .slideshow-title::before{
    left: 100px;
    top: 15px;
}
.slideshow-content .slideshow-title::after{
    left: -100px;
    top: 15px;
}

.slideshow-content h1{
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
}

.slideshow-content p{
    font-size: 1.2rem;
    color: #000;
}
.slideshow-content .btn-show-now a{
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    padding: 19px 50px 21px;
    text-transform: uppercase;
    border: 1px solid #333;
    margin-top: 50px;
}
.slideshow-content .btn-show-now a:hover{
    background-color: #6F42C2;
    color: white;
    transition: 0.3s;
}
.support {
    margin-top: 60px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.support-content {
    text-align: center;
    width: 33.333333%;
}
.support-content h5{
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0;
}
.support-content p{
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
}

.product{
    margin-top: 30px;
    text-align: center;
}
.product-top .product-top__title{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 0 15px;
    padding: 0 0 15px;
    color: #000;
}
.product-top .product-top__title::after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    margin: 0 auto;
    content: "";
    background-color: #000;
}

.product-items{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
}
.product-card {
    width: 20%;
    padding: 0 10px 30px 10px;
}

.product-card img{
    width: 100%;
}
.product-card .product-card__description{
    padding-top: 10px;
    text-align: left;
    color: #000;
    font-weight: 500;
    width: 80%;
    position: relative;
}
.product-card .product-card__description a:hover{
    color: #6F42C2;
}
.product-card p{
    text-align: left;
}
.product-card p .new{
    margin-right: 17px;
}
.product-card p .old{
    text-decoration: line-through;
    color: #fa6bff;
}
.product-card p .new::after{
    position: absolute;
    top: 17px;
    margin: 0 3px;
    width: 7px;
    height: 2px;
    content: "";
    background-color: #a5a5a5;
}

.blog {
    margin-top: 60px;
    flex-wrap: wrap;
    text-align: center;
}

.blog .title-heading{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 0 15px;
    padding: 0 0 15px;
    color: #000;
    text-transform: capitalize;
}
.blog .title-heading::after, .title-heading::before{
    position: absolute;
    width: 80px;
    height: 2px;
    content: "";
    background-color: #000;
}

.blog .title-heading::after{
    top: 16px;
    right: -100px;
}
.blog .title-heading::before{
    top: 16px;
    left: -100px;
}

.blog-items{
    gap: 25px;
}
.blog-wrap {
    width: 33.33333%;
    position: relative;
}
.blog-wrap img{
    width: 100%;
}
.blog-wrap .blog-image__type{
    position: absolute;
    top: 10px;
    left: 7px;
}
.blog-wrap .blog-image__type span{
    padding: 3px 5px;
    background-color: #6F42C2;
    color: white;
}
.blog-wrap .blog-over{
    position: absolute;
    width: 80%;
    background-color: white;
    height: 120px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    padding: 5px 40px;
}
.blog-wrap .blog-over h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 5px;
}

.blog-wrap .blog-over h5 a:hover{
    color: #6F42C2;
}
.blog-wrap .blog-over span:hover{
    color: #6F42C2;
}

.col-6 {
    width: 16.6666666667%;;
}

.footer{
    margin-top: 100px;
    background-color: #f6f6f8;
    height: 360px;
    padding-top: 80px;
}

.footer-col {
    padding: 0 15px;
}
.footer-col h5{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 16px;
}
.footer-col ul li {
    line-height: 30px;
    letter-spacing: 0.4px;
}
.footer-col ul li a:hover{
    color: #6F42C2;
    transition: 0.3s;
}
.footer-col:nth-child(5){
    position: relative;
}
.footer-col:nth-child(5) p{
    margin-bottom: 20px;
}
.footer-col:nth-child(5) input{
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 5px 30px;
    height: 22px;
    border-radius: 6px;
    background-color: #f6f6f8;
}
.footer-col:nth-child(5) input:focus-visible {
    border: none;
    outline: none;
}
.footer-col:nth-child(5) .btn-submit{
    display: inline-block;
    position: absolute;
    bottom: -20px;
    left: 22px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    border-bottom: 1px solid #6F42C2;
}
.footer-col:nth-child(5) .btn-submit:hover{
    color: #6F42C2;
}